body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

body > #fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: #800000;
    color: #ffffff;
}

body > #fab:active {
    transform: translateY(2px);
    opacity: .8;
}

.card {
    margin: 10px 0px;
}

#listPage .card-title, 
#listPage .card-subtitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: elipsis;
}

.dropdown-menu-right {
    left: -128px;
}

#roseLogo {
    max-width: 350px;
    display: block;
    margin: auto;
}

#roseFireButton {
    display: block;
    margin: 60px auto;
    color: white;
    background: #800000;
    font-size: 1.1em;
    padding: 10px 30px;
    border-radius: 5px;
}

.bmd-layout-content {
    height: 100vh;
}

.bmd-layout-drawer>header {
    background-color: #800000;
    color: white;
}

.bmd-layout-drawer>ul {
    background-color: #DDDDDD;
}

.list-group-item :first-child {
    margin-right: .75rem;
}