html
	head
		title=title
		link(rel="stylesheet" href="/static/styles/main.css")
	body
		div.button-group
			button#decButton Decriment
			button#resButton Reset
			button#incButton Increment
		div#counterText Count = #{count}
		script(src="/static/scripts/main.js")