body {
    background: #DDDDDD;
}

.navbar {
    background-color: #800000;
    color: white;
}

.page-container {
    margin-top: 75px;
}

.square {
    background-color: #80000080;
    color: white;
    flex: 1 0 0;
    text-align: center;
    font-size: 60px;
    line-height: 100px;
    font-weight: 500;
}

.b-top {
    border-top: 4px solid black;
}

.b-bottom {
    border-bottom: 4px solid black;
}

.b-left {
    border-left: 4px solid black;
}

.b-right {
    border-right: 4px solid black;
}

#newGameButton {
    background-color: #800000;
    margin-top: 15px;
    color: white;
    margin-left: auto;
}

.my-row {
    display: flex;
    direction: row;
}

#gameBoard {
    height: 300px;
    width: 300px;
}